textarea#send {
	width: 250px;
	height: 110px;
	border: 0px solid #cccccc;
	font-family: Tahoma, sans-serif;
	font-size:14px;
	
}

textarea#receive {
	width: 250px;
	height: 110px;
	border: 0px solid #cccccc;
	font-family: Tahoma, sans-serif;
	font-size:14px;
	
}

input {

	border: 1px solid #cccccc;

	
}


.messagessendto2 {
	font-size:12px;
	border: 1px solid #cccccc;
	border-radius: 2px;
}

.messagessendto  {
	font-size:14px;
}

.yourinfo {
	font-size:14px;
}
